*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

a{
    text-decoration: none;
}

img{
    display: block;
}

input{
    outline: none;
}

button{
    font-family: 'Poppins', sans-serif;
}

